.product-skeleton-card {
    background: var(--bg-card);
    border-radius: 20px;
    padding: 12px;
    border: 1px solid var(--border-subtle);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-skeleton-image-wrapper {
    aspect-ratio: 1/1;
    width: 100%;
    margin-bottom: 16px;
}

.product-skeleton-details {
    padding: 8px;
    flex: 1;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.product-skeleton-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 12px;
}

.product-skeleton-price-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}