.skeleton-details .product-details-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.skeleton-details .product-details-actions {
    display: flex;
}

.ml-12 {
    margin-left: 12px;
}

.ml-16 {
    margin-left: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.skeleton-details .product-details-size-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 12px;
}

.skeleton-details .product-details-benefits {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.skeleton-details .product-details-tab-header {
    display: flex;
    border-bottom: 1px solid var(--border-subtle);
}

@media (max-width: 992px) {
    .skeleton-details .product-details-benefits {
        gap: 12px;
    }
}